{% extends 'base.html' %}

{% block title %}Add New Product - Futshop{% endblock title %}

{% block content %}
<main>
    <section class="form-section">
        <div class="container">
            <h3>Add a New Product</h3>

            <form method="POST">
                {% csrf_token %}  <!-- CSRF token untuk keamanan -->
                
                {{ form.as_p }}

                <button type="submit" class="btn-primary">Add Product</button>
            </form>
            
        </div>
    </section>
</main>
{% endblock content %}