{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Futshop{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Outfit:wght@400;500&display=swap" rel="stylesheet">
    
    {% block extra_styles %}
    {% endblock extra_styles %}
</head>

<body>
    <header class="navbar">
        <div class="container">
            <h1 class="logo">Futshop</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'main:show_main' %}">Home</a></li>
                    <li><a href="{% url 'main:show_products' %}">My Products</a></li>
                    <li><a href="{% url 'main:show_about' %}">About</a></li>

                    {% if user.is_authenticated %}
                        <li><span class="nav-username">Hi, {{ user.username }}</span></li>
                        
                        <li><h5 class="nav-last-login">Last login: {{ last_login }}</h5></li>

                        <li>
                            <a href="{% url 'main:logout' %}" class="btn-logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'main:login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'main:register' %}" class="btn-primary-nav">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
    </footer>
</body>

</html>