{% extends 'base.html' %}

{% block title %}All Products - Futshop{% endblock title %}

{% block content %}
<main>
    <section class="featured-products">
        <div class="container">

            <div class="page-header">
                <h3>All Products</h3>
                <a href="{% url 'main:add_product' %}" class="btn-primary">Add New Product</a>
            </div>
            
            <div class="product-grid">
                {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.thumbnail }}" alt="{{ product.name }}" onerror="this.onerror=null;this.src='https://placehold.co/600x400/222/FFF?text=Image';">
                    <h4>{{ product.name }}</h4>
                    <p class="category">{{ product.category }}</p>
                    <p class="price">Rp {{ product.price }}</p>
                    <a href="{% url 'main:product_detail' pk=product.pk %}" class="btn-secondary">View Details</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}